.button
{
    /* Center items (text of button) */
	display: inline-flex;
    justify-content: center;
    align-items: center;

    /* Text stilization */
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;

    /* Shape stilization */
    border: 0 solid;
	border-radius: 10px;

    /* Default size */
    background-color: grey;
    color: white;

    /* Default buttons transition */
    transition: .5s;
}

/*
    Main button
*/
.button.main {
    width: 150px;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-color: #66d4f4;
}
.button.main.selected {
    filter: drop-shadow(0px 10px 8px rgba(102,212,244,0.3));
}
/* Mouse over state */
.button.main:hover {
    background-color: #a0e4f8;
    filter: drop-shadow(0px 0px 8px rgba(102,212,244,1));
}

/*
    Blue button
*/
.button.blue
{
	background: #479ee1;
}
/* Add animation for button blue */
.button.blue:hover
{
	background: #6bbaf9;
}

/*
    Google play button
*/
/* Make style for google play button */
.button.google-play {
	background-color: white; 
    /* Google play icon */
    background-image: url('../img/0_header/google_play_icon.png');
    background-repeat: no-repeat;
    background-position: 30px 50%;
	/* Drop shadow */
	filter: drop-shadow(0px 8px 5.5px rgba(54,54,54,0.15));
}
/* Google play button text*/
.button.google-play p { 
    font-size: 20px;
    color: #3e3e3e; 
    margin-left: 30px;
}

/*
    Switch button (e.g. for feedbacks)
*/
.button.switch {
    color: #494949;
    background-color: transparent;
    padding: 10px 10px;

    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.button.switch.disabled { color: #9ea1a1; }
.button.switch:hover:not(.disabled) {
    color: #479ee1;
}