@font-face {
    font-family: 'Raleway'; /*a name to be used later*/
    src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf'); /*URL to font*/
}

/*
    Font Museo Slab
*/

@font-face {
    font-family: 'Museo Slab 100'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-100.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Slab 300'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-300.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Slab 500'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-500.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Slab 700'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-700.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Slab 900'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-900.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Slab 1000'; /*a name to be used later*/
    src: url('../fonts/mus/MuseoSlab-1000.ttf'); /*URL to font*/
}

/*
    Font Roboto Slab
*/

@font-face {
    font-family: 'Roboto Slab'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Light'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Extra Light'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-ExtraLight.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Black'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Black.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Medium'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Bold'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto Slab Thin'; /*a name to be used later*/
    src: url('../fonts/robotoslab/static/RobotoSlab-Thin.ttf'); /*URL to font*/
}