.header {
	padding: 40px 0px;
	border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .right-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

/*
    Navigation Menu
*/

.header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: 30px;
}

.header nav li {
    display: table;
    padding: 0 20px;
    list-style: none;
	border-radius: 10px;
    transition: .5s;
}

.header nav a {
    display: table-cell;
    vertical-align: middle;

    /* Text stilization */
    text-transform: uppercase;
    font-weight: 600;
}

/* Animation*/
.header nav li:hover {
    background-color: #479ee1;
}

/*
    Login button
*/
.header .button {
    width: 110px;
    height: 55px;
}

/*
    Background
*/

.head > .background {
    display: block;
	position: absolute;
	background-color: #42a8f6;
    z-index: -1;
	width: 100%;
	height: 100%;
}

.head > .background > * {
    user-select: none;
    position: absolute;
}

.head > .background .headphone-img {
	margin: -35px 0 0 -165px;
}

.head > .background .pencil1-img {
    margin-bottom: 150px;
    bottom: 0px;
}

.head > .background .pencil2-img {
    margin-bottom: 50px;
    bottom: 0px;
}

.head > .background .phone-img {
    right: 0px;
    bottom: -284px;
    margin-right: 250px;
}

.head > .background .earphones-img {
    right: 0px;
    bottom: 150px;
}

/* Background Circles */

.head .circle-outer {
    background-color: #50aef7;
    width: 1670px;
    height: 1670px;
    border-radius: 835px;
    right: 0px;
    bottom: -555px;
    margin-right: -350px;
}

.head .circle-outer, .head .circle-outer * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head .circle-middle {
    background-color: #5eb4f8;
    width: 1232px;
    height: 1232px;
    border-radius: 616px;
}

.head .circle-inner {
    background-color: #6bbaf9;
    width: 898px;
    height: 898px;
    border-radius: 449px;
}

.head .circle-center {
    border-radius: 314px;
    background-color: #77bff9;
    width: 628px;
    height: 628px;
}