/* First of all, make all text in header white*/
header * {
    color: white;
}

header {
    /* Make position relative for background items*/
	position: relative;
    /* Hide outside parts of circles and other background items*/
	overflow: hidden;
}


/*#region Header Navigation Menu*/

/* Set style for main container of navigation menu */
.header-nav {
    display: flex;
    overflow: visible;
    /* Align center vertically */
    align-items: center;
    /* Align space between horizontally */
    justify-content: space-between;
    /* Set padding to top and bottom*/
	padding: 40px 0px;
    /* Make your underline xD*/
	border-bottom: 1px solid white;
}

/* Set navigation items list AND login button in one line*/
.header-nav .right-content {
    display: flex;
    /* Make it no wrap */
    flex-wrap: nowrap;
}

/* Set login button size */
.header-nav .button { width: 110px; height: 55px; }

/* 
    Navigation list and list items
*/

/* Set style for navigation list items container*/
.header-nav nav {
    display: flex;
    /* Wrap items when size of nav becomes smaller */
    flex-wrap: wrap;
    /* Make margin from login button */
    margin-right: 30px;
}

/*  So, here i use oldfag method to centerize xDD 
    Set style for each list item (container for a link)  */
.header-nav nav li {
    /* Here display table, for making a as table-cell, so table-cell will works */
    display: table;
    /* Clear list style */
    list-style: none;
    /* Make padding for left and right */
    padding: 0 20px;
    /* Create border radius (beautify) */
	border-radius: 10px;
    /* Animation duration (s - in seconds) */
    transition: 0.5s;
}
/* When list item is mouse overed */
.header-nav nav li:hover {
    /* Make only background color change */
    background-color: #479ee1;
}

/* And link done */
.header-nav nav a {
    /* So, it's old school centerize method xD */
    display: table-cell;
    vertical-align: middle;

    /* Text stilization */
    text-transform: uppercase;
    font-weight: 600;
}

/*#endregion*/

/*#region Header Content*/

/* Main header content container */
header .header-content {
    /* Set width like half of header section, but... */
	width: 50%;
    /* ...but not greather than 505px */
	max-width: 505px;
    /* Make margin from navigation menu */
	margin-top: 250px;
    /* Make margin from bottom of content container*/
	margin-bottom: 200px;
}

/* Style h1 text block */
header h1 {
	font-family: 'Museo Slab 300';
	font-size: 40px;
    /* Don't wrap this words*/
    white-space: nowrap;
    /* Margin to next block */
	margin-bottom: 40px;
}

/* Style h2 text block */
header h2 {
	font-size: 26px;
	line-height: 40px;
	color: #fefefe;
	font-weight: 500;
    /* Margin to next block */
	margin-bottom: 80px;
}

/* Container for buttons */
header .header-content-links{
    /* Make minimum width for don't breaking buttons*/
	min-width: 400px;
    /* Make height for buttons */
	height: 80px;
    /* Make space between buttons */
	display: flex;
	justify-content: space-between;
}

/* Set width and style text of buttons */
header .header-content .button {
    /* Set width like 48% of links container */
	width: 48%;
    /* Make each word capital */
	text-transform: capitalize;
    /* Correct font size */
	font-size: 20px;
}

/*#endregion*/

/*#region Background*/

header > .background {
    /* Move backwards to all elements of section */
    z-index: -1;
    /* Set color here, because section color will cover this bg */
	background-color: #42a8f6;
}

header > .background * {
    /* Set all bg elements non-selectable for user */
    user-select: none;
    /* Now we can dock elements*/
    position: absolute;
}

header > .background .pencil1-img {
    /* Dock first pencil to the bottom*/
    bottom: 0px;
    /* Little fix margin */
    margin-bottom: 150px;
}

header > .background .pencil2-img {
    /* Same as pencil 1*/
    bottom: 0px;
    margin-bottom: 50px;
}

header > .background .phone-img {
    /* Dock to the right bottom*/
    right: 0px;
    bottom: 0px;
    /* Fix margin for pretty view */
    margin-right: 250px;
    margin-bottom: -284px;
}

header > .background .earphones-img {
    /* Dock to right bottom,
    but we can use bottom instead of margin*/
    right: 0px;
    bottom: 150px;
}

header > .background .headphone-img {
    /* This element already docked to left top */
	margin: -35px 0 0 -165px;
}

/* Background Circles */

header .circle-outer {
    /* Set size like in photopea */
    width: 1670px;
    height: 1670px;
    /* Make it circle */
    border-radius: 835px;
    /* Color and docked position to the right bottom */
    background-color: #50aef7;
    right: 0px;
    bottom: -555px;
    margin-right: -350px;
}

/* Make all circles as flex-containers with centerized items */
header .circle-outer,
header .circle-outer * {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* And set correct sizes, radiuses and colors */
header .circle-middle { 
    width: 1232px;
    height: 1232px;
    border-radius: 616px;
    background-color: #5eb4f8;
}

header .circle-inner {
    width: 898px;
    height: 898px;
    border-radius: 449px;
    background-color: #6bbaf9;
}

header .circle-center {
    width: 628px;
    height: 628px;
    border-radius: 314px;
    background-color: #77bff9;
}
/*#endregion*/