/*#region Price section background*/

.price { background-color: #f4fafc; }
.price .background {
    bottom: 0;
    height: 784px;
    background-image: url("../img/6_price/bg.png");
    background-size: cover;
}

/*#endregion*/

/* Flex container for organize plans space-evently */
.pricing-plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

/* Plan wrapper with relative position for plan's growing */
.pricing-plan-wrapper {
    margin: 20px 20px;
    min-width: 320px;
    max-width: 320px;
    height: 580px;
    position: relative;
}

.pricing-plan {
    /* For growing on mouse over */
    position: absolute;
    width: 320px; left: 0px;
    height: 580px; top: 0px;

    /* Align center pricing plan content*/
    display: flex;
    justify-content: center;

    /* Beautify */
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.05);
    background-image: url("../img/6_price/bgsmall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;

    /* Transition seconds to mouse over */
    transition: .4s;
}

/* When mouse over - plan is growing */
.pricing-plan:hover {
    width: 350px; margin-left: -15px;
    height: 630px; margin-top: -25px;
    filter: drop-shadow(0 0 25.5px rgba(92,149,161,0.33));
}

/* Style */
.pricing-plan-content {
    text-align: center;
    padding: 30px 0;

    /* Vertical flex container*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pricing-plan-content .options-container { 
    /* 30% of pricing plan content space*/
    flex-basis: 30%; 
    margin: 40px 0;
}
.pricing-plan-content .button-wrapper {
    /* 25% of pricing plan content space*/
    flex-basis: 25%;
    padding-top: 10px;
}

.pricing-plan-content .price-img { 
    margin-left: 20px;
    max-height: 56px;
    min-height: 56px;
}

/* Style options */
.option {
    color: #7c7c7c;
    margin: 10px 0;
    font-weight: 600;
}
.option.locked { color: #c7c7c7; font-weight: 500; }