/* HERE ONLY GLOBAL STYLES */

* {
	margin: 0;
	text-decoration: none;
	font-family: 'Raleway';
}

.section-content {
	margin: 0 250px;
}

#google_play_btn { background-color: white; }
#google_play_btn p { color: #3e3e3e; margin-left: 10px;}